body{background: #f79d00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #64f38c, #f79d00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #64f38c, #f79d00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .a{
        background-color: #1f4037;
        background-image: linear-gradient(37.25deg, #3dff02,#3dff02,#3dff02,#ff5100,#ff5100,#ff5100,#ff5100,#ff5100,#ff5100);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
}